.bgbeige{
    background-color: rgb(255,240,219);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
   @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
  
  :root {
    --playfair-display: "Playfair Display", serif;
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    --color-creamson: #fce0bf;
  }
  body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f8dcbb;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
  font-size: 64px;
  font-weight: 600;
  font-family: var(--playfair-display);

  color: black;

  margin-top: 16px;
}